@import "vars.scss";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  margin: 8px 0;

  & p {
    margin: auto;
    padding-bottom: 10px;

    & em {
      font-style: italic;
      font-weight: bold;
    }
  }
  &.partial {
    padding: 1rem 0 2rem;
  }

  & input {
    width: 100%;
    padding: 0 0 0 10px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid $dark;
  }

  & .inputrow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    & label {
      width: 35%;
      display: flex;
      align-items: center;
      padding: 0 0 5px;
      margin-right: 5px;
      justify-content: flex-end;
      text-align: end;
      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: flex-start;
      }
      & span {
        display: inline;
        color: red;
        padding-right: 4px;
      }
    }
    & input {
      width: calc(65% - 10px);
      // max-width: 256px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    & .icon {
      position: absolute;
      right: 0;
      width: 50px;
      height: 26px;
      padding: 0 0 10px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        bottom: 10px;
      }
    }
  }

  & .group {
    width: 100%;

    span {
      display: none;
    }

    input {
      &:focus {
        + span {
          background-color: white;
          border-radius: 4px;
          padding: 4px 8px;
          margin: 0 0 8px 0;
          position: relative;
          display: inline-block;

          &.--invalid {
            color: $grey;
            font-style: italic;
          }

          &.--valid {
            display: none;
          }
        }

        &.--valid {
          outline-color: green;
        }
      }
    }
  }
}
