@import "../styles/vars";

.modal {
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 400px) {
    align-items: flex-start;
    margin-top: 60px;
  }
  &__title {
    width: 80%;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 8px;
  }
  & h2 {
    font-size: 1.7rem;
  }
  & .formcontainer {
    position: relative;
    padding: 0;
    padding-top: 40px;
    border-radius: 5px;
    background-color: $lighter;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 400px) {
      padding-top: 40px;
      border-radius: 0;
      width: 100%;
      min-width: 320px;
    }
  }

  &.--showModal {
    top: 0;
  }
}
