<div class="links">
  <a href="https://portfolio.ikodi.eu">
    <img src="/views/img/portfolio_portfolio.png" alt="Ikodi" /><br />
    Portfolio IKODI
  </a>
  <a href="https://blog.ikodi.eu">
    <img src="/views/img/blog_20210104.png" alt="Le Blog" /><br />
    Le blog d'Ikodi
  </a>
  <a href="https://concord.ikodi.eu">
    <img src="/views/img/concord-portefolio.png" alt="concord" /><br />
    Concord
  </a>
  <a href="https://chronofit.ikodi.eu">
    <img src="/views/img/chronofit-v2.png" alt="chronofit" /><br />
    Chronofit
  </a>

  <a href="https://ikodi.eu/games">
    <img src="/views/img/games_medley.png" alt="Les jeux" /><br />
    Les jeux
  </a>
  <a href="https://ikodi.eu/games">
    <img
      src="/views/img/multiplicorne_portfolio.png"
      alt="Multiplicorne"
    /><br />
    Multiplicorne
  </a>
  <a href="https://ikodi.eu/games">
    <img src="/views/img/topics.png" alt="Topics" /><br />
    Topics
  </a>
  <a href="https://auth.ikodi.eu">
    <img src="/views/img/auth-hero.png" alt="auth-ikodi" /><br />
    App d'authentification
  </a>
</div>
