<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/views/style.css">
  <title>IKODI - Mot de passe réinitialisé</title>
</head>

<body>
  <section class="container">
    <img src="/img/auth-hero.png" alt="hero ikodi">
    <h1>Le mot de passe pour <%= email %> a bien été modifié</h1>
    <h2>Vous pouvez vous connecter</h2>
    <div class="links">
      <a href="https://auth.ikodi.eu">
        <img src="/img/auth-ikodi.png" alt="auth-ikodi"><br>
        App d'authentification</a>
      <a href="https://concord.ikodi.eu">
        <img src="/img/concord-portefolio.png" alt="concord"><br>
        Concord</a>
      <a href="https://chronofit.ikodi.eu">
        <img src="/img/chronofit-v2.png" alt="chronofit"><br>
        Chronofit</a>
      <a href="https://ikodi.eu">
        <img src="/img/logo_ikodi_lettres.png" alt="Ikodi"><br>
        Ikodi</a>
      <a href="https://blog.ikodi.eu">
        <img src="/img/blog_20210104.png" alt="Le Blog"><br>
        Le blog d'Ikodi</a>
      <a href="https://ikodi.eu/games">
        <img src="/img/games_medley.png" alt="Les jeux"><br>
        Les jeux</a>
    </div>
  </section>
</body>

</html>
