<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/views/style.css">
  <title>Réinitialiser le mot de passe IKODI</title>
</head>

<body>
  <section class="container">
    <img src="/views/img/auth-hero.png" alt="hero ikodi">
    <h1>Réinitialisation du mot de passe pour <%= email %></h1>
    <form id="form">
      <label for="password1">Nouveau mot de passe
        <input type="password" name="password1" id="password1"/>
      </label>
      <p>Minimum 5 caractères dont une majuscule et un nombre</p>
      <br>
      <label for="password2">Confirmation du mot de passe
        <input type="password" name="password2" id="password2"/>
      </label>
      <br>
      <div id="inputrow">
        <input type="submit" value="Réinitialiser le mot de passe" id="submit"/>
      </div>
    </form>
  </section>
</body>
<script>
  const fakeForm = document.getElementById('form');

  function postData(to, data)
  {
    const form = document.createElement("form");
    form.method = "post";
    form.action = to;
    for (const item in data)
    {
      const input = document.createElement("input");
      input.setAttribute("name", item);
      input.setAttribute("value", data[item]);
      form.appendChild(input);
    }
    document.body.appendChild(form);
    form.submit();
    document.body.removeChild(form);
  };
  fakeForm.addEventListener('submit', (evt) =>
  {
    evt.preventDefault();
    const password1 = document.getElementById('password1').value;
    const password2 = document.getElementById('password2').value;
    if (password1 === "" || password2 === "") return alert("Au moins un champ est vide");
    if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{5,50}$/).test(password1)) return alert(
      "Le mot de passe doit contenir minimum 5 caractères dont une majuscule et un nombre");
    // TODO le contrôle de la forme du mdp (lenght, majuscule, nombre)
    if (password1 !== password2) return alert("les mots de passe sont différents");
    postData("",
    {
      password1,
      password2
    })
  })

</script>

</html>
