/* // $dark: rgb(36, 36, 36);
// $lighter: rgb(247, 245, 241); */

body {
  background-color: rgb(247, 245, 241);
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: rgb(65, 65, 65);
  height: 100%;
  min-height: 100vh;
}

p {
  font-style: italic;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 245, 241);
  width: 95%;
  max-width: 700px;
  height: fit-content;
  padding: 1rem;
  margin-top: 50px;
  border-radius: 1rem;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.9);
}

.container > img {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.links > a {
  display: block;
  text-decoration: none;
  color: rgb(65, 65, 65);
  width: 120px;
  padding: 15px;
  font-weight: bold;
}

.links > a > img {
  width: 100%;
}

label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 500px;
  height: 100%;
  margin: 8px 0;
}

form > input {
  width: 50%;
  padding: 0 0 0 10px;
  height: 30px;
  margin-bottom: 8px;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
}

form > .inputrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#submit {
  display: flex;
  width: 250px;
  justify-content: center;
  background-color: #2185d0;
  color: rgb(247, 245, 241);
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
